<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Guest Book</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">

</head>

<body>

<div class="container theme-showcase" role="main">

    <div class="jumbotron">
        <h1>Guest Book</h1>
        <a type="button" class="btn btn-link" href="{{ url_for('sign') }}">Sign the Guest Book</a>
    </div>

    <h1>Delete Book</h1>
    <a type="button" class="btn btn-link" href="{{ url_for('deleteUser') }}">Delete the Guest Book</a>


    {% for r in result %}
    <div class="page-header">
        <h1>{{ r.name }}</h1>
    </div>
    <div class="well">
        <p>{{ r.comment }}</p>
    </div>

    <form action="/itemD">
    <a href="itemD" ,name=r.name>Delete this User</a>
    </form>
    {% endfor %}
</div> <!-- /container -->

</body>
</html>
