<html>
<head>
<title>Example Template!</title>
</head>
<body>
{% if myvar %}
<h1>The Variable I passed in is: {{ myvar }}</h1>
{% else %}
<h1>No Variable is passed in.</h1>
{% endif %}
<h1>This is the template Example!</h1>

<p>Hello Akshay How are You ?</p>



<a href="https://www.google.co.in">This is a link to google</a>


{% for link in links %}
<a href="{{ link }}">here is a link</a>
{% endfor %}
<h3>this is end of Template</h3>




</body>
</html>
